In [ ]:
!gdown 1LjyseH68h78wBK6c5bsPJANVKJv6QO_P -O superstore_clean.csv

Downloading...
From: https://drive.google.com/uc?id=1LjyseH68h78wBK6c5bsPJANVKJv6QO_P
To: /content/superstore_clean.csv
100% 2.25M/2.25M [00:00<00:00, 180MB/s]

# Import required packages

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# About dataset
## Context
With growing demands and cut-throat competitions in the market, a Superstore Giant is seeking your knowledge in understanding what works best for them. They would like to understand which products, regions, categories and customer segments they should target or avoid.

You can even take this a step further and try and build a Regression model to predict Sales or Profit.

Go crazy with the dataset, but also make sure to provide some business insights to improve.

## Metadata
| Column Name   | Description                                   |
| ------------- | --------------------------------------------- |
| Row ID        | Unique ID for each row                        |
| Order ID      | Unique Order ID for each Customer             |
| Order Date    | Order Date of the product                     |
| Ship Date     | Shipping Date of the Product                  |
| Ship Mode     | Shipping Mode specified by the Customer       |
| Customer ID   | Unique ID to identify each Customer           |
| Customer Name | Name of the Customer                          |
| Segment       | The segment where the Customer belongs        |
| Country       | Country of residence of the Customer          |
| City          | City of residence of of the Customer          |
| State         | State of residence of the Customer            |
| Postal Code   | Postal Code of every Customer                 |
| Region        | Region where the Customer belong              |
| Product ID    | Unique ID of the Product                      |
| Category      | Category of the product ordered               |
| Sub-Category  | Sub-Category of the product ordered           |
| Product Name  | Name of the Product                           |
| Sales         | Sales of the Product                          |
| Quantity      | Quantity of the Product                       |
| Discount      | Discount provided                             |
| Profit        | Profit/Loss incurred                          |


## Acknowledgements
I do not own this data. I merely found it from the Tableau website. All credits to the original authors/creators. For educational purposes only.

## Question 1
Uploading data and then displaying first 10 records

In [ ]:
df = pd.read_csv("superstore_clean.csv")

In [ ]:
df.head(10)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
2,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164
5,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7.0,0.00,14.1694
6,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4.0,0.00,1.9656
7,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6.0,0.20,90.7152
8,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3.0,0.20,5.7825
9,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5.0,0.00,34.4700

## Question 2
Showing the data types of each column

In [ ]:
df.dtypes

Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code      float64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity         float64
Discount         float64
Profit           float64
dtype: object

## Question 3
Finding total sales and total profit

In [ ]:
df['Sales'].sum()

2252570.4335

In [ ]:
df['Profit'].sum()

287923.7503

##Question 4
Finding the number of orders for each shipping mode

In [ ]:
df_group = df.groupby('Ship Mode', as_index=False)['Order ID'].count()
df_group

        Ship Mode  Order ID
0     First Class      1513
1        Same Day       530
2    Second Class      1911
3  Standard Class      5853

##Question 5
Convert "Order Date" to datetime and extract month and year into separate columns

In [ ]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [ ]:
df['Year'] = df['Order Date'].dt.year
df['Month'] = df['Order Date'].dt.month

In [ ]:
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Year,Month
0,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136,2016,11
1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820,2016,11
2,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714,2016,6
3,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310,2015,10
4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164,2015,10

## Question 6
Find the average discount given by category

In [ ]:
df_group2 = df.groupby('Category')['Discount'].mean()
df_group2

Category
Furniture          0.173677
Office Supplies    0.156889
Technology         0.131938
Name: Discount, dtype: float64

##Question 7
Create a new column for whether something was profitable

In [ ]:
profitable = lambda x:("Profitable" if x > 200 else "Not")
df['Profitable'] = df['Profit'].apply(profitable)
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Year,Month,Profitable
0,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136,2016,11,Not
1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820,2016,11,Profitable
2,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714,2016,6,Not
3,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310,2015,10,Not
4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164,2015,10,Not

##Question 8
Total sales for each year

In [ ]:
df_group3 = df.groupby('Year')['Sales'].sum()
df_group3

Year
2014    475639.8651
2015    460281.6022
2016    598546.1890
2017    718102.7772
Name: Sales, dtype: float64

##Question 9
Find the average quantity of products sold per order

In [ ]:
avgproducts = df.groupby('Order ID')['Quantity'].mean()
avgproducts

Order ID
CA-2014-100006    3.000000
CA-2014-100090    4.500000
CA-2014-100293    6.000000
CA-2014-100328    1.000000
CA-2014-100363    2.500000
                    ...
US-2017-168802    4.000000
US-2017-169320    3.500000
US-2017-169488    3.500000
US-2017-169502    4.000000
US-2017-169551    2.666667
Name: Quantity, Length: 4955, dtype: float64

##Question 10
Count number of orders per region

In [ ]:
df_group3 = df.groupby('Region')['Order ID'].count()
df_group3

Region
Central    2293
East       2798
South      1591
West       3125
Name: Order ID, dtype: int64

## Questions

In [ ]:
# 1. Display the first 10 records of the DataFrame

# 2. Show the data types of each column

# 3. Find the total sales and total profit

# 4. Find the number of orders for each shipping mode

# 5. Convert the 'Order Date' column to datetime format and extract the month and year into separate columns

# 6. Find the average discount given by category

# 7. Create a new column that indicates whether the order was profitable (Profit > 200)

# 8. Find the total sales for each year

# 9. Find the average quantity of products sold per order

# 10. Count the number of orders made in each region